body {
	background: white;
	font-size: 30px;
}

.container {
	background: white;

	p {
		font-size: 0.4em;
	}
}

.cajafoto {
	background-color: white;
	border: 9px solid silver;
	border-radius: 5%;
	margin: 1.5%;
	box-sizing: border-box;
	width: 30%;

	img {
		width: 70%;
	}
}

.row {

}
